<div class="page">
    <div class="grand-titre">
        Liste des réservations
    </div>
    <div class="innerPanel">
        <div class="rechercher">
            <mat-form-field>
                <mat-select name="years" [(ngModel)]="years" (selectionChange)="rechercher();">
                    <mat-option value="0">Toutes les années</mat-option>
                    <mat-option value="2022">2022</mat-option>
                    <mat-option value="2021">2021</mat-option>
                </mat-select>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
                <mat-select name="months" [(ngModel)]="months" (selectionChange)="rechercher()">
                    <mat-option value="0">Tous les mois</mat-option>
                    <mat-option value="1">Janvier</mat-option>
                    <mat-option value="2">Février</mat-option>
                    <mat-option value="3">Mars</mat-option>
                    <mat-option value="4">Avril</mat-option>
                    <mat-option value="5">Mai</mat-option>
                    <mat-option value="6">Juin</mat-option>
                    <mat-option value="7">Juillet</mat-option>
                    <mat-option value="8">Août</mat-option>
                    <mat-option value="9">Septembre</mat-option>
                    <mat-option value="10">Octobre</mat-option>
                    <mat-option value="11">Novembre</mat-option>
                    <mat-option value="12">Décembre</mat-option>
                </mat-select>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
                <input matInput [(ngModel)]="noms" placeholder="Noms" (input)="rechercher()">
            </mat-form-field>
            &nbsp;
            <button (click)="rechercher()" mat-raised-button color="primary">Rechercher</button> &nbsp;
            <button (click)="actualiser()" mat-raised-button>Réinitialiser</button>
        </div>
        <div class="statistiques">
            <div class="ligne">
                <div class="cellule">
                    <div class="gauche">
                        <div class="dash impayes">
                            <div class="dash-titre">
                                Montant des impayés
                            </div>
                            <div class="dash-valeur">
                                {{total - montantPercus | number}}
                                <span>XAF</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cellule">
                    <div class="milieu">
                        <div class="dash percu">
                            <div class="dash-titre">
                                Montant perçu
                            </div>
                            <div class="dash-valeur">
                                {{montantPercus | number}}
                                <span>XAF</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cellule">
                    <div class="droite">
                        <div class="dash total">
                            <div class="dash-titre">
                                Montant attendu
                            </div>
                            <div class="dash-valeur">
                                {{total | number}}
                                <span>XAF</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="muanza-cards">
            <div class="muanza-card" *ngFor="let person of resultats" (click)="onSelect(person)">
                <mat-card>
                    <div style="float: right;" class="tdCarre">
                        <div *ngIf="person.payee" class="petit-carree-violet"></div>
                        <div *ngIf="!person.payee" class="petit-carree-rouge"></div>
                    </div>
                    <mat-card-subtitle>{{ person.roomNumber }}</mat-card-subtitle>
                    <mat-card-title style="font-size: 18px;">{{ person.name }}</mat-card-title>
                    <mat-card-content style="font-size: 12px;">
                        <p>Du {{ person.startDate | date: 'dd/MM/yyyy' }} au {{ person.endDate | date: 'dd/MM/yyyy' }}</p>
                        <div>Total : {{ person.total | number }} XAF</div>
                        <div>Reduction : {{ person.total | number }} XAF</div>
                        <div>Cout : {{ person.total | number }} XAF</div>
                        <div>Montant Percu : {{ person.total | number }} XAF</div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <div>
            <table class="hideOnMobile">
                <tr class="head">
                    <td class="tdCarre"></td>
                    <td>Porte</td>
                    <td>Début</td>
                    <td>Fin</td>
                    <td>Occupant</td>
                    <td style="text-align: right;">Total</td>
                    <td style="text-align: right;">Reduction</td>
                    <td style="text-align: right;">Côut</td>
                    <td style="text-align: right;">Montant perçu</td>
                    <td>Statut</td>
                </tr>
                <tr class="rows" *ngFor="let person of resultats" (click)="onSelect(person)" style="cursor: pointer;">
                    <td class="tdCarre">
                        <div *ngIf="person.payee" class="petit-carree-violet"></div>
                        <div *ngIf="!person.payee" class="petit-carree-rouge"></div>
                    </td>
                    <td class="tdId">{{ person.roomNumber }}</td>
                    <!--
                    <td class="tdRoom">
                        <ng-container *ngIf="person.roomTypeName === '0'">Single</ng-container>
                        <ng-container *ngIf="person.roomTypeName === '1'">Double</ng-container>
                        <ng-container *ngIf="person.roomTypeName === '2'">Suite</ng-container>
                        <ng-container *ngIf="person.roomTypeName === '3'">Suite présidentielle</ng-container>

                    </td>
                    -->
                    <td class="tdDate">{{ person.startDate | date: 'dd/MM/yyyy' }}</td>
                    <td class="tdDate">{{ person.endDate | date: 'dd/MM/yyyy' }}</td>
                    <td class="tdName">
                        {{ person.name }}
                        <br> {{ person.tel }}
                    </td>
                    <td class="tdMontant" style="text-align: right;">{{ person.total | number }}</td>
                    <td class="tdMontant" style="text-align: right;">{{ person.reduction | number }}</td>
                    <td class="tdMontant" style="text-align: right;">{{ person.cout | number }}</td>
                    <td class="tdMontant" style="text-align: right;">{{ person.montantPercu | number }}</td>
                    <td class="tdName" style="text-align: center;">
                        <ng-container *ngIf="person.payee">
                            Payé<br>
                            <a class="mini" routerLink="/facture"> Voir la facture</a>
                        </ng-container>
                        <ng-container *ngIf="!person.payee">
                            Impayé<br>
                            <a class="mini" routerLink="/facture"> Enregistrer un paiement</a>
                        </ng-container>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>