<div class="application">
    <mat-drawer-container class="example-container" [hasBackdrop]="true">

        <mat-drawer #drawer class="example-sidenav" mode="over">
            <div class="menu-gauche">
                <div style="padding-top: 60px;padding-bottom: 30px;">

                    <div class="nav">
                        <a>
                            <span style="font-size: 1.3em;">Menu</span>
                        </a>
                    </div>
                </div>
                <div class="nav">
                    <a routerLink="/dashboard" routerLinkActive="active" (click)="drawer.toggle()">
                        <span>Calendrier</span>
                    </a>
                </div>
                <div class="nav">
                    <a routerLink="/reservations" routerLinkActive="active" (click)="drawer.toggle()">
                        <span>Réservations</span>
                    </a>
                </div>
                <div class="nav">
                    <a routerLink="/paiements" routerLinkActive="active" (click)="drawer.toggle()">
                        <span>Paiements</span>
                    </a>
                </div>
                <div class="nav">
                    <a routerLink="/chambres" routerLinkActive="active" (click)="drawer.toggle()">
                        <span>Suites et chambres</span>
                    </a>
                </div>
                <div class="nav">
                    <a routerLink="/repas" routerLinkActive="active" (click)="drawer.toggle()">
                        <span>Repas</span>
                    </a>
                </div>
                <div class="nav">
                    <a routerLink="/hotel" routerLinkActive="active" (click)="drawer.toggle()">
                        <span>Infos Hotel</span>
                    </a>
                </div>
                <div class="nav">
                    <a routerLink="/hotel" routerLinkActive="active" (click)="drawer.toggle()">
                        <span>Mon compte</span>
                    </a>
                </div>
            </div>
        </mat-drawer>

        <div class="">
            <div class="muanza">
                <div class="muanza-container">
                    <div>
                        <button class="mat-elevation-z0 muanza-menu" (click)="drawer.toggle()" style="background:none; cursor: pointer;">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
                        </button>
                    </div>
                    <div>
                        <span style="width: 1px; display: inline-block; height: 24px; margin-top: 13px; background-color: #aaa;">

                        </span>
                    </div>
                    <div>
                        <span class="muanza-menu-2">
                            {{hotel ? hotel.nom: 'Aucun hotel'}}
                        </span>
                    </div>
                    <div>
                        <a class="muanza-menu-3" *ngIf="utilisateur" (click)="deconnexion()">
                            <span>{{utilisateur.nom}}</span>
                        </a>
                    </div>
                </div>
            </div>


            <div style="width: 100vw; height: 100vh; overflow-x: hidden; ">
                <div class="contenu-page">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <form class="" (ngSubmit)="connexion(f)" #f="ngForm">
                <div *ngIf="!utilisateur" class="connexion">
                    <div class="connexion-box">
                        <div class="connexion-box-content">
                            <div class="titre">Ishango hotels</div>
                            <div>
                                <mat-form-field>
                                    <input matInput name="login" placeholder="Login" [ngModel]="login" required>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field>
                                    <input matInput name="passe" type="password" placeholder="Mot de passe" [ngModel]="passe" required>
                                </mat-form-field>
                            </div>
                            <div *ngIf="errorMessage" style="color: red">
                                {{errorMessage}}
                            </div>
                            <div style="margin-top: 20px;">
                                <button type="submit" mat-raised-button color="primary">Se connecter</button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <!-- 
        <div class="menu-haut">
            <div class="menu-haut-contenu" style="width: 1220px; margin: auto;">
                <div class="titre" style="vertical-align: top;">
                </div>
                <div class="nav">
                    <a routerLink="/dashboard" routerLinkActive="active">
                        <span>Calendrier</span>
                    </a>
                </div>
                <div class="nav">
                    <a routerLink="/reservations" routerLinkActive="active">
                        <span>Réservations</span>
                    </a>
                </div>
                <div class="nav">
                    <a routerLink="/paiements" routerLinkActive="active">
                        <span>Paiements</span>
                    </a>
                </div>
                <div class="nav">
                    <a routerLink="/chambres" routerLinkActive="active">
                        <span>Suites et chambres</span>
                    </a>
                </div>
                <div class="nav">
                    <a routerLink="/repas" routerLinkActive="active">
                        <span>Repas</span>
                    </a>
                </div>
                <div class="nav droite">
                    <a *ngIf="utilisateur" (click)="deconnexion()">
                        <span>{{utilisateur.nom}}</span>
                    </a>
                </div>
            </div>
        </div> -->

    </mat-drawer-container>
</div>