.application {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

form {
    padding: 0;
    margin: 0;
}

.connexion {
    height: 100vh;
    width: 100vw;
    background-color: #3f51b5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.connexion-box {
    width: 50vw;
    height: 100vh;
    background-color: white;
    overflow: hidden;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 599px) {
    .connexion-box {
        width: 100vw;
        height: 100vh;
        background-color: white;
        overflow: hidden;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

.connexion-box-content {
    padding: 10vmin;
    padding-left: 15vw;
    padding-top: 25vh;
}

.connexion-box .titre {
    text-transform: uppercase;
    color: #3f51b5;
    font-size: 3.0em;
    font-weight: bold;
}

@media only screen and (max-width: 599px) {
    .connexion-box {
        width: 100vw;
        height: 100vh;
        background-color: white;
        overflow: hidden;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

.menu-gauche .titre {
    text-transform: uppercase;
    color: white;
    font-size: 1.6em;
    font-weight: 500;
    display: inline-block;
    padding-top: 17px;
    transform: translateY(10%);
}

.menu-gauche .nav {
    display: block;
    padding-top: 23px;
    padding-bottom: 18px;
}

.menu-gauche .nav.droite {
    float: right;
    padding-top: 25px;
    padding-bottom: 20px;
    margin-right: 20px;
    text-align: center;
}

.menu-gauche .nav a {
    color: white;
    text-decoration: none;
    margin-left: 50px;
    cursor: pointer;
}

.menu-gauche .nav a.active {
    color: white;
    opacity: 1;
    font-weight: 550;
}

.muanza {
    background-color: #fafafe;
    height: 50px;
    overflow-y: hidden;
    padding-top: 10px;
}

@media only screen and (max-width: 599px) {
    .muanza {
        background-color: #fafafe;
        height: 50px;
        overflow-y: hidden;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 1px solid #eee;
        width: 100vw;
        overflow-x: hidden;
    }
}

.muanza-menu {
    padding: 0;
    margin: 0;
    border: 0px solid #ddd;
    display: inline-block;
    height: 50px;
    width: 80px;
    text-align: left;
}

@media only screen and (max-width: 599px) {
    .muanza-menu {
        padding: 0;
        margin: 0;
        border: 0px solid #ddd;
        display: inline-block;
        height: 50px;
        width: 35px;
        text-align: left;
    }
    .muanza-menu mat-icon {
        color: #3f51b5;
    }
}

.muanza-menu-2 {
    height: 50px;
    display: inline-block;
    line-height: 50px;
    width: 850px;
    text-align: left;
    padding-left: 20px;
}

@media only screen and (max-width: 599px) {
    .muanza-menu-2 {
        height: 50px;
        display: inline-block;
        line-height: 50px;
        width: 820px;
        text-align: left;
        padding-left: 15px;
    }
}

.muanza-menu-3 {
    height: 50px;
    display: inline-block;
    line-height: 50px;
    width: 300px;
    text-align: right;
    padding-right: 20px;
}

.muanza-container {
    display: flex;
    margin: auto;
    height: 50px;
    width: 1200px;
}

.muanza-container>div {
    height: 50px;
    overflow: hidden;
    display: inline-block;
}

.menu-gauche {
    height: 100vh;
    background-color: #3f51b5;
    width: 300px;
}

.contenu-page {
    width: 1200px;
    margin: auto;
}

@media only screen and (max-width: 599px) {
    .contenu-page {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
}

.gros-conteneur {
    height: calc(100vh - 60px);
}

@media only screen and (max-width: 599px) {
    .gros-conteneur {
        height: calc(100vh - 60px);
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: auto;
    }
}