.rotate {}

@media only screen and (max-width: 599px) {
    .grand-titre {
        padding-left: 20px;
    }
    .rotate {
        transform: rotate(90deg) translateY(-90%);
        transform-origin: top left;
        width: 150vh;
        overflow: scroll;
        padding-right: 20vh;
        padding-bottom: 20vw;
        padding-top: 2vh;
    }
}

.pagescheduler {
    margin-top: 20px;
}

@media only screen and (max-width: 599px) {
    .pagescheduler {
        margin: 20px;
        overflow-x: scroll;
    }
}