<div class="page">
    <div class="grand-titre">
        Liste des paiements
    </div>
    <div class="innerPanel">
        <div>
            <mat-form-field>
                <mat-select name="years" [ngModel]="years" (selectionChange)="onYearsChange($event)">
                    <mat-option value="0">Toutes les années</mat-option>
                    <mat-option value="2022">2022</mat-option>
                    <mat-option value="2021">2021</mat-option>
                </mat-select>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
                <mat-select name="months" [ngModel]="months" (selectionChange)="onMonthsChange($event)">
                    <mat-option value="0">Tous les mois</mat-option>
                    <mat-option value="1">Janvier</mat-option>
                    <mat-option value="2">Février</mat-option>
                    <mat-option value="3">Mars</mat-option>
                    <mat-option value="4">Avril</mat-option>
                    <mat-option value="5">Mai</mat-option>
                    <mat-option value="6">Juin</mat-option>
                    <mat-option value="7">Juillet</mat-option>
                    <mat-option value="8">Août</mat-option>
                    <mat-option value="9">Septembre</mat-option>
                    <mat-option value="10">Octobre</mat-option>
                    <mat-option value="11">Novembre</mat-option>
                    <mat-option value="12">Décembre</mat-option>
                </mat-select>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
                <input matInput placeholder="Noms" #fastsearch>
            </mat-form-field>
        </div>
        <div class="ligne">
            <div class="cellule">
                <div class="gauche">
                    <div class="dash impayes">
                        <div class="dash-titre">
                            Montant des impayés
                        </div>
                        <div class="dash-valeur">
                            {{total - montantPercus | number}}
                            <span>XAF</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cellule">
                <div class="milieu">
                    <div class="dash percu">
                        <div class="dash-titre">
                            Montant perçu
                        </div>
                        <div class="dash-valeur">
                            {{montantPercus | number}}
                            <span>XAF</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cellule">
                <div class="droite">
                    <div class="dash total">
                        <div class="dash-titre">
                            Montant attendu
                        </div>
                        <div class="dash-valeur">
                            {{total | number}}
                            <span>XAF</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <table>
                <tr class="head">
                    <td>Date</td>
                    <td>Réservation</td>
                    <td>Occupant</td>
                    <td style="text-align: right;">Montant perçu</td>
                </tr>
                <tr class="rows" *ngFor="let paiement of paiements" style="cursor: pointer;">
                    <td class="tdDate">{{ paiement.date | date: 'dd/MM/yyyy HH:mm' }}</td>
                    <td class="tdId">Réservation {{ paiement.bookingID }}</td>
                    <td class="tdName">
                        {{ paiement.booking.name }}
                        <br> {{ paiement.booking.tel }}
                    </td>
                    <td class="tdMontant" style="text-align: right;">{{ paiement.montant | number }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>