<div class="page">
    <div class="grand-titre">
        Liste des paiements
    </div>
    <div class="innerPanel">
        <div class="rechercher">
            <mat-form-field>
                <mat-select name="years" [ngModel]="years" (selectionChange)="onYearsChange($event)">
                    <mat-option value="0">Toutes les années</mat-option>
                    <mat-option value="2022">2022</mat-option>
                    <mat-option value="2021">2021</mat-option>
                </mat-select>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
                <mat-select name="months" [ngModel]="months" (selectionChange)="onMonthsChange($event)">
                    <mat-option value="0">Tous les mois</mat-option>
                    <mat-option value="1">Janvier</mat-option>
                    <mat-option value="2">Février</mat-option>
                    <mat-option value="3">Mars</mat-option>
                    <mat-option value="4">Avril</mat-option>
                    <mat-option value="5">Mai</mat-option>
                    <mat-option value="6">Juin</mat-option>
                    <mat-option value="7">Juillet</mat-option>
                    <mat-option value="8">Août</mat-option>
                    <mat-option value="9">Septembre</mat-option>
                    <mat-option value="10">Octobre</mat-option>
                    <mat-option value="11">Novembre</mat-option>
                    <mat-option value="12">Décembre</mat-option>
                </mat-select>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
                <input matInput placeholder="Noms" #fastsearch>
            </mat-form-field>
        </div>
        <div class="statistiques">
            <div class="ligne">
                <div class="cellule">
                    <div class="gauche">
                        <div class="dash impayes">
                            <div class="dash-titre">
                                Montant des impayés
                            </div>
                            <div class="dash-valeur">
                                {{total - montantPercus | number}}
                                <span>XAF</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cellule">
                    <div class="milieu">
                        <div class="dash percu">
                            <div class="dash-titre">
                                Montant perçu
                            </div>
                            <div class="dash-valeur">
                                {{montantPercus | number}}
                                <span>XAF</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cellule">
                    <div class="droite">
                        <div class="dash total">
                            <div class="dash-titre">
                                Montant attendu
                            </div>
                            <div class="dash-valeur">
                                {{total | number}}
                                <span>XAF</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="muanza-cards">
            <div class="muanza-card" *ngFor="let paiement of paiements" (click)="voirReservation(paiement.bookingID)">
                <mat-card>
                    <mat-card-subtitle>{{ paiement.date | date: 'dd/MM/yyyy HH:mm' }}</mat-card-subtitle>
                    <mat-card-title style="font-size: 18px;">
                        <span style="color: #555;">
                            {{ paiement.montant | number }} XAF
                        </span>
                    </mat-card-title>
                    <mat-card-content style="font-size: 12px;">
                        <div>
                            {{ paiement.booking.name }}, {{ paiement.mode}}
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div>
            <table class="hideOnMobile">
                <tr class="head">
                    <td style="text-align: center;">Date</td>
                    <td style="text-align: center;">Heure</td>
                    <td>Réservation</td>
                    <td>Occupant</td>
                    <td>Mode</td>
                    <td style="text-align: right;">Montant perçu</td>
                </tr>
                <tr class="rows" *ngFor="let paiement of paiements" style="cursor: pointer;">
                    <td class="tdDate" style="text-align: center;">{{ paiement.date | date: 'dd/MM/yyyy' }}</td>
                    <td class="tdDate" style="text-align: center;">{{ paiement.date | date: 'HH:mm' }}</td>
                    <td class="tdDate">
                        <a (click)="voirReservation(paiement.bookingID)">
                            <span style="color: #3f51b5; cursor: pointer;">
                                Réservation
                            </span>
                        </a>
                    </td>
                    <td class="tdName">
                        {{ paiement.booking.name }}, {{ paiement.booking.tel }}
                    </td>
                    <td class="tdName">
                        {{ paiement.mode }}
                    </td>
                    <td class="tdMontant" style="text-align: right;">
                        <b>
                            {{ paiement.montant | number }} XAF
                        </b>
                    </td>
                </tr>
            </table>

            <div style="height: 25vh;"></div>
        </div>
    </div>
</div>